html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: $title;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  padding-top: 60px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: $link;
  @extend %montserrat-400;
  font-size: 16px;
}

.title {
  text-align: center;
  font-size: 38px;
  line-height: 26px;
  @extend %montserrat-700;
  color: $title;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.text {
  text-align: center;
  margin: 0 auto 55px;
}

.breadcrumbs{
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 60px;
  &__list{
    display: flex;
  }
  &__item:not(:last-child){
    padding-right: 25px;
    &::before{
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: $accent;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      top: 10px;
      right: 9px;
    }
  }
  &__item{
    color: $title;
    position: relative;
    &:last-child{
      color: $accent;
    }
  }
  &__link{
    color: inherit;
    @extend %montserrat-400;
    font-size: 18px;
  }
}

.pagination {
  padding: 100px 0 0 0;
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    border: 1px solid $accent;
    padding: 15px 20px;
    transition: all .3s;

    &:hover {
      background-color: $accent;
    }
  }

  &__item--active {
    background-color: $accent;
  }

  &__item:not(:last-child) {
    margin-right: 15px;
  }

  &__link {
    color: #243f4d;
    font-size: 16px;
    @extend %montserrat-400;
  }

  &__link--active {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}