html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: $title;
  display: flex;
  flex-direction: column;
  &._locked{
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
  padding-top: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: $link;
  @extend %montserrat-400;
  font-size: 16px;
}

.title {
  text-align: center;
  font-size: 38px;
  line-height: 100%;
  @extend %montserrat-700;
  color: $title;
  margin-bottom: 50px;
  text-transform: uppercase;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: $accent;
    bottom: -15px;
    left: 48%;
  }
}

.title-form{
  font-size: 30px;
  margin-bottom: 30px;
}
.title-price{
  margin-bottom: 50px;
}

.subtitle{
  text-align: center;
  margin-bottom: 35px;
  padding-bottom: 20px;
  border-bottom: 3px solid #cdced6;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background-color: $accent;
    width: 150px;
    height: 3px;
    bottom: -2px;
    left: 44%;
  }
  &::after{
    content: url('../images/svg/subtitle-after.svg');
    position: absolute;
    bottom: -9px;
    right: 49%;
  }
  &__link{
    font-size: 18px;
    line-height: 100%;
    @extend %montserrat-400;
    color: $title;
    opacity: 0.8;
    text-transform: uppercase;
  } 
}

.text{
  font-size: 16px;
  line-height: 130%;
  @extend %montserrat-400;
  color: $title;
  margin: 0 auto 30px;
  max-width: 1030px;
}

.breadcrumbs{
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  &__list{
    display: flex;
  }
  &__item:not(:last-child){
    padding-right: 25px;
    &::before{
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: $accent;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      top: 10px;
      right: 9px;
    }
  }
  &__item{
    color: $title;
    position: relative;
    &:last-child{
      color: $accent;
    }
  }
  &__link{
    color: inherit;
    @extend %montserrat-400;
    font-size: 18px;
  }
}

.pagination {
  padding: 60px 0 0 0;
  display: flex;
  justify-content: flex-start;
  &__list {
    display: flex; 
    padding-left: 120px;
    align-items: center;
  }
  &__item {
    border: 1px solid $accent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all .3s;
    &:hover {
      background-color: $bg;
    }
  }
  &__item--active{
    background-color: $accent;
  }
  &__item:not(:last-child){
    margin-right: 10px;
  }
  &__items{
    border:  none;
    margin-right: 10px;
    padding: 0 5px;
  }
  &__link--numbers{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px 10px;
    color: $accent;
    display: block;
    font-size: 18px;
    @extend %montserrat-400;
    line-height: 100%;
    text-transform: uppercase;
    width: 100%;
    transition: all .3s;
    &:hover{
      color: $link;
      background-color: $accent;
    }
  }
  &__link--active {
    color: $link;
    &:hover {
      color: $link;
    }
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}