html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: $title;
  display: flex;
  flex-direction: column;
  &._locked{
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
  padding-top: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: $link;
  @extend %montserrat-400;
  font-size: 16px;
}

.title {
  text-align: center;
  font-size: 38px;
  line-height: 100%;
  @extend %montserrat-700;
  color: $title;
  margin-bottom: 50px;
  text-transform: uppercase;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: $accent;
    bottom: -15px;
    left: 48%;
  }
}

.title-form{
  font-size: 30px;
  margin-bottom: 30px;
}

.subtitle{
  text-align: center;
  margin-bottom: 35px;
  padding-bottom: 20px;
  border-bottom: 3px solid #cdced6;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background-color: $accent;
    width: 150px;
    height: 3px;
    bottom: -2px;
    left: 44%;
  }
  &::after{
    content: url('../images/svg/subtitle-after.svg');
    position: absolute;
    bottom: -9px;
    right: 49%;
  }
  &__link{
    font-size: 18px;
    line-height: 100%;
    @extend %montserrat-400;
    color: $title;
    opacity: 0.8;
    text-transform: uppercase;
  } 
}

.text{
  font-size: 16px;
  line-height: 130%;
  @extend %montserrat-400;
  color: $title;
  margin: 0 auto 30px;
  max-width: 1030px;
}

.breadcrumbs{
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  &__list{
    display: flex;
  }
  &__item:not(:last-child){
    padding-right: 25px;
    &::before{
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: $accent;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      top: 10px;
      right: 9px;
    }
  }
  &__item{
    color: $title;
    position: relative;
    &:last-child{
      color: $accent;
    }
  }
  &__link{
    color: inherit;
    @extend %montserrat-400;
    font-size: 18px;
  }
}

.pagination {
  padding: 100px 0 0 0;
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    border: 1px solid $accent;
    padding: 15px 20px;
    transition: all .3s;

    &:hover {
      background-color: $accent;
    }
  }

  &__item--active {
    background-color: $accent;
  }

  &__item:not(:last-child) {
    margin-right: 15px;
  }

  &__link {
    color: #243f4d;
    font-size: 16px;
    @extend %montserrat-400;
  }

  &__link--active {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}