$accent: #FF3446;
$title: #454545;
$link: #FFF;

%montserrat-700 {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
}

%montserrat-500 {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
}

%montserrat-400 {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
}

%roboto-400 {
  font-family: 'Roboto-Regular';
  font-weight: 400;
}

%btn {
  background-color: $accent;
  font-size: 14px;
  @extend %montserrat-700;
  color: $link;
  padding: 12px 11px;
  transition: all .3s;
  border: 1px solid transparent;
  border-radius: 3px;
}

%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}


@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}